<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="LocationX" value="100"/>
		<add key="LocationY" value="100"/>
		<add key="Width" value="300"/>
		<add key="Height" value="300"/>
		<add key="Symbols" value="ɔ;ɑ;ʌ;æ;ə;ɪ;ŋ;ʒ;ʤ;ð;θ;ʃ;tʃ;"/>
		<add key="DefaultRank" value="10"/>		
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
